.App {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

.carousel-slider .slick-prev,
.carousel-slider .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}
.carousel-slider {
  position: relative;
}
.carousel-slider .slick-prev,
.carousel-slider .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}
/*The slick-prev and slick-next are for arrows*/
.carousel-slider .slick-prev {
  left: 5%;
}

.carousel-slider .slick-next {
  right: 5%;
}

img {
  /* width:900px; */
  height: 500px;
}
